<h2 class="text-center"><%= t(".sign_in") %></h2>
<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
<%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>

<% if devise_mapping.rememberable? -%>
  <%= f.form_group do %>
  <%= f.check_box :remember_me %>
<% end %>
<% end -%>

<%= f.form_group class: "d-grid" do %>
  <%= f.submit t(".sign_in"), class: "btn btn-primary btn-lg mb-3" %>
<% end %>
<% end %>
<div class="d-grid">
  <%= render "devise/shared/links" %>
</div>
